<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<!-- Tabs -->

	<extension id="AdminTab"
			   point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Server Administration"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="Y"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig.xml"/>
	</extension>

	<!-- Views -->

	<extension id="UserView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Users"/>
		<class value="edu.stanford.protege.admin.ui.UserView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="RoleView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Roles"/>
		<class value="edu.stanford.protege.admin.ui.RoleView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="OperationView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Operations"/>
		<class value="edu.stanford.protege.admin.ui.OperationView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="ProjectView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Projects"/>
		<class value="edu.stanford.protege.admin.ui.ProjectView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="DetailsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Policy Object Details"/>
		<class value="edu.stanford.protege.admin.ui.DetailsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="JsonSerializationView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="JSON Serialization"/>
		<class value="edu.stanford.protege.admin.ui.JsonSerializationView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="PolicyView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Access Control Policy"/>
		<class value="edu.stanford.protege.admin.ui.PolicyView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="ServerSettingsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Server settings"/>
		<class value="edu.stanford.protege.admin.ui.ServerSettingsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

</plugin>
